{
  "openapi": "3.0.0",
  "info": {
    "title": "TheEye Digitize API",
    "description": "API para la gestión de digitalización de comprobantes",
    "version": "1.0.0",
    "contact": {
      "email": "soporte@theeye.io"
    }
  },
  "servers": [
    {
      "url": "https://api.theeye.io/documents/v1",
      "description": "Servidor de producción"
    },
    {
      "url": "https://api-staging.theeye.io/documents/v1",
      "description": "Servidor de pruebas"
    }
  ],
  "tags": [
    {
      "name": "documents",
      "description": "Operaciones con documentos"
    },
    {
      "name": "templates",
      "description": "Gestión de plantillas"
    }
  ],
  "paths": {
    "/documents": {
      "post": {
        "tags": ["documents"],
        "summary": "Subir un nuevo documento",
        "description": "Sube un documento para su procesamiento",
        "operationId": "uploadDocument",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Archivo del documento (PDF, PNG, JPG)"
                  },
                  "templateId": {
                    "type": "string",
                    "description": "ID de la plantilla a utilizar"
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Metadatos adicionales"
                  }
                },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Documento subido correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos"
          },
          "401": {
            "description": "No autorizado"
          }
        }
      },
      "get": {
        "tags": ["documents"],
        "summary": "Listar documentos",
        "description": "Obtiene la lista de documentos procesados",
        "operationId": "getDocuments",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Número de página",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Elementos por página",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filtrar por estado",
            "schema": {
              "type": "string",
              "enum": ["pending", "processing", "completed", "failed"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de documentos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Document"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "pages": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autorizado"
          }
        }
      }
    },
    "/documents/{id}": {
      "get": {
        "tags": ["documents"],
        "summary": "Obtener un documento",
        "description": "Obtiene la información de un documento específico",
        "operationId": "getDocument",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID del documento",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Información del documento",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "404": {
            "description": "Documento no encontrado"
          },
          "401": {
            "description": "No autorizado"
          }
        }
      }
    },
    "/templates": {
      "get": {
        "tags": ["templates"],
        "summary": "Listar plantillas",
        "description": "Obtiene la lista de plantillas disponibles",
        "operationId": "getTemplates",
        "responses": {
          "200": {
            "description": "Lista de plantillas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Template"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autorizado"
          }
        }
      },
      "post": {
        "tags": ["templates"],
        "summary": "Crear plantilla",
        "description": "Crea una nueva plantilla",
        "operationId": "createTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Plantilla creada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos"
          },
          "401": {
            "description": "No autorizado"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "fileUrl": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "processing", "completed", "failed"]
          },
          "templateId": {
            "type": "string"
          },
          "extractedData": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TemplateField"
            }
          },
          "active": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TemplateField": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["text", "number", "date", "boolean"]
          },
          "pattern": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          },
          "position": {
            "type": "object",
            "properties": {
              "x": {
                "type": "number"
              },
              "y": {
                "type": "number"
              },
              "width": {
                "type": "number"
              },
              "height": {
                "type": "number"
              },
              "page": {
                "type": "integer"
              }
            }
          }
        }
      },
      "TemplateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TemplateField"
            }
          },
          "active": {
            "type": "boolean",
            "default": true
          }
        },
        "required": ["name", "fields"]
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
} 